<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>theBlucean</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- css 파일 추가 -->
<!--    <link rel="icon" href="data:,">-->
<!--    <link rel="icon" type="image/x-icon" href="/admin-pro/dist/assets/img/favicon.png" th:href="@{/admin-pro/dist/assets/img/favicon.png}" />-->
    <link href="/admin-pro/dist/css/tui/tui-grid.min.css" th:href="@{/admin-pro/dist/css/tui/tui-grid.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="/admin-pro/dist/css/tui/toastui-chart.min.css" th:href="@{/admin-pro/dist/css/tui/toastui-chart.min.css}"/>
    <link rel="stylesheet" href="/admin-pro/dist/css/tui/tui-pagination.css" th:href="@{/admin-pro/dist/css/tui/tui-pagination.css}"/>
<!--    <link rel="stylesheet" href="/admin-pro/dist/css/styles.css" th:href="@{/admin-pro/dist/css/styles.css}"/> &lt;!&ndash; 기존 css &ndash;&gt;-->
    <link rel="stylesheet" href="/admin-pro/dist/css/styles.css" th:href="@{/ui-pro/dist/css/styles.css}"/>
<!--    <link rel="stylesheet" href="/admin-pro/dist/css/jquery-ui.css" th:href="@{/admin-pro/dist/css/jquery-ui.css}"/>-->
    <!-- TOAST UI Editor CDN URL(CSS)-->
    <link rel="stylesheet" th:href="@{/admin-pro/dist/css/toastui-editor.min.css}"/>
    <link rel="stylesheet" th:href="@{/admin-pro/dist/css/toastui-editor-viewer.min.css}"/>
    <!-- slick-slider(CSS)-->
    <link rel="stylesheet" href="/slick/slick.css" th:href="@{/slick/slick.css}"/>
    <link rel="stylesheet" href="/slick/slick-theme.css" th:href="@{/slick/slick-theme.css}"/>

    <!--TODO:booyong 삭제예정    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>-->
    <!--    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>-->

    <!-- AOS 라이브러리 CSS-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!--  jquery  -->
    <script type="text/javascript" src="/admin-pro/dist/js/jquery/jquery.min.js" th:src="@{/admin-pro/dist/js/jquery/jquery.min.js}"></script>
    <script type="text/javascript" src="/admin-pro/dist/js/jquery/jquery-3.6.0.min.js" th:src="@{/admin-pro/dist/js/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" src="/admin-pro/dist/js/jquery/jquery-ui.min.js" th:src="@{/admin-pro/dist/js/jquery/jquery-ui.min.js}"></script>
    <!-- js 파일 추가 -->
    <script type="text/javascript" src="/admin-pro/dist/js/tui/tui-code-snippet.min.js" th:src="@{/admin-pro/dist/js/tui/tui-code-snippet.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin-pro/dist/js/tui/tui-grid.js}"></script>
    <script type="text/javascript" th:src="@{/admin-pro/dist/js/tui/tui-pagination.js}"></script>
    <script type="text/javascript" th:src="@{/admin-pro/dist/js/tui/toastui-chart.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin-pro/dist/js/feather.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin-pro/dist/js/scripts.js}"></script>
    <script type="text/javascript" th:src="@{/admin-pro/dist/js/toasts.js}"></script>
    <script type="text/javascript" th:src="@{/admin-pro/dist/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin-pro/dist/js/bundle.js}"></script>
    <script type="text/javascript" th:src="@{/admin-pro/dist/js/all.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin-pro/dist/js/common.js}"></script>
    <!-- slick-slider 반응형 웹을 지원하는 jQuery 슬라이더 라이브러리 -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
    <!-- AOS 라이브러리 js-->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

</head>
<body>
    <th:block th:replace="fragments/commonHead :: header"></th:block>
    <th:block layout:fragment="content"></th:block>
    <th:block th:replace="fragments/commonFooter :: footer"></th:block>
</body>
<script type="text/javascript">
    AOS.init({
        disable: 'mobile',
        duration: 600,
        once: false,
    });
</script>
</html>
