<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>더블루션</title>
    <!-- css 파일 추가 -->

    <script src="https://kit.fontawesome.com/8f2a2932a6.js" crossorigin="anonymous"></script>
<!--    <link rel="stylesheet" href="/admin-pro/dist/css/styles.css" th:href="@{/admin-pro/dist/css/styles.css}"/>-->
<!--    <link rel="stylesheet" href="/admin-pro/dist/css/jquery-ui.css" th:href="@{/admin-pro/dist/css/jquery-ui.css}"/>-->
    <!--  jquery  -->
    <script type="text/javascript" src="/admin-pro/dist/js/jquery/jquery.min.js" th:src="@{/admin-pro/dist/js/jquery/jquery.min.js}"></script>
    <script type="text/javascript" src="/admin-pro/dist/js/jquery/jquery-3.6.0.min.js" th:src="@{/admin-pro/dist/js/jquery/jquery-3.6.0.min.js}"></script>
    <script type="text/javascript" src="/admin-pro/dist/js/jquery/jquery-ui.min.js" th:src="@{/admin-pro/dist/js/jquery/jquery-ui.min.js}"></script>
    <!-- js 파일 추가 -->
    <script type="text/javascript" src="/admin-pro/dist/js/tui/tui-code-snippet.min.js" th:src="@{/admin-pro/dist/js/tui/tui-code-snippet.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin-pro/dist/js/tui/tui-grid.js}"></script>
    <script type="text/javascript" th:src="@{/admin-pro/dist/js/tui/tui-pagination.js}"></script>
    <script type="text/javascript" th:src="@{/admin-pro/dist/js/tui/toastui-chart.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin-pro/dist/js/feather.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin-pro/dist/js/scripts.js}"></script>
    <script type="text/javascript" th:src="@{/admin-pro/dist/js/toasts.js}"></script>
    <script type="text/javascript" th:src="@{/admin-pro/dist/js/bootstrap.bundle.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin-pro/dist/js/bundle.js}"></script>
    <script type="text/javascript" th:src="@{/admin-pro/dist/js/all.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin-pro/dist/js/common.js}"></script>
<!--    <script src="main.js" defer></script>-->
</head>
<body>
<nav class="navbar">
    <div class="navbar__logo">
<!--        <i class="fa-solid fa-house"></i>-->
        <a href="">
            <img src="/img/logo.svg" alt="logo" width="100px">
        </a>
    </div>

    <ul class="navbar__menu">
        <li><a href="">서비스 소개</a></li>
        <li><a href="">사업 분야</a></li>
        <li><a href="">SOLUTION</a></li>
    </ul>

    <ul class="navbar__icons">
        <li><i class="fa-brands fa-instagram"></i></li>
        <li><i class="fa-solid fa-blog"></i></li>
    </ul>

    <a href="#" class="navbar__toogleBtn">
        <i class="fa-solid fa-bars"></i>
    </a>
</nav>

</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const toggleButton = document.querySelector('.navbar__toogleBtn');
        const menu = document.querySelector('.navbar__menu');

        toggleButton.addEventListener('click', function() {
            menu.classList.toggle('active');
        });
    });
</script>
</html>