<!-- 다른 HTML 파일 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--<link rel="stylesheet" type="text/css" href="css/style.css">-->
<link rel="stylesheet" href="/admin-pro/dist/css/styles.css" th:href="@{/admin-pro/dist/css/styles.css}"/>
<script src="https://kit.fontawesome.com/8f2a2932a6.js" crossorigin="anonymous"></script>
<head>
    <div th:replace="fragments/commonHead :: header"></div>
    <title>The Blucean</title>
</head>
<style>
    :root{
        background-image: url('/img/background.jpg'); /* 이미지 경로를 정확히 지정해주세요. */
        background-size: cover; /* 이미지를 화면에 맞게 조절합니다. */
        background-repeat: no-repeat; /* 이미지 반복을 방지합니다. */
    }
</style>
<body>
<main>
    <!-- Main page content-->
    <div class="wrap">
        <div class="mainsection mainSection1">
            <div class="mainTitleBox">
                <p class="mainTitleBadge">Get your free consultaion now</p>
                <p class="mainTitle">Doctor Appointment & <br/>Consultation Booking</p>
                <p class="subtitle">Great doctor if you need your family member to get effective immediate<br> assistance, emergency treatment or a simpe consultaion</p>
            </div>
            <div class="solutionBox">
                <div class="solutionBorder">
                    <div class="solutionImg">
                        <img src="/img/solutionS.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="mainsection mainSection2" >
            <div class="sectionContainer">
                <div class="nContainer">
                <div class="textArea" >
                    <div style="visibility: visible; animation-duration: 0.7s; animation-name: fadeInUp;">결제 A to Z</div>
                    <h2 style="visibility: visible; animation-duration: 0.7s; animation-name: fadeInUp;">사업 시작을 위해 준비된 <br> 모든 결제 서비스</h2>
                </div>
                </div>
            </div>
            <div class="imgArea">
                <img src="/img/slide_1_04.2ea7c8f.png"/>
            </div>
        </div>
        <div class="mainsection mainSection3" style="height: 900px; background-color: #ddd;">

        </div>
    </div>
</main>
</body>
<!--<footer th:fragment="footer">-->
<!--    <div th:replace="fragments/commonFooter :: footer"></div>-->
<!--</footer>-->
</html>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const toggleButton = document.querySelector('.navbar__toogleBtn');
        const menu = document.querySelector('.navbar__menu');

        toggleButton.addEventListener('click', function() {
            menu.classList.toggle('active');
        });
    });
</script>