<!-- 다른 HTML 파일 -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--<link rel="stylesheet" type="text/css" href="css/style.css">-->
<link rel="stylesheet" href="/admin-pro/dist/css/styles.css" th:href="@{/admin-pro/dist/css/styles.css}"/>
<script src="https://kit.fontawesome.com/8f2a2932a6.js" crossorigin="anonymous"></script>
<head>
    <div th:replace="fragments/commonHead :: header"></div>
    <title>The Blucean</title>
</head>
<style>
    :root{
        background-image: url('/img/background.jpg'); /* 이미지 경로를 정확히 지정해주세요. */
        background-size: cover; /* 이미지를 화면에 맞게 조절합니다. */
        background-repeat: no-repeat; /* 이미지 반복을 방지합니다. */
    }
</style>
<body>
<main>
    <!-- Main page content-->
    <div class="container-xl px-4 mt-4">
        <div>
            <div style="text-align: center; margin-bottom: 50px">
                <p style="color: #408afd; font-size: 23px; padding-top: 90px;">Get your free consultaion now</p>
                <p style="color: #fff; font-size: 65px; font-weight: 600; margin: 0 0 20px 0;">Doctor Appointment & <br/>Consultation Booking</p>
                <p style="color: #eee; font-size: 27px; font-weight: lighter;">Great doctor if you need your family member to get effective immediate<br/> assistance, emergency treatment or a simpe consultaion</p>
            </div>
            <div class="solutionBox" style="display: flex; justify-content: center;">
                <div class="solutionB" style="width: 85%; height: 810px; background-color: rgba(255,255,255,0.13); position: absolute;
                border-radius: 20px; backdrop-filter: blur(10px); border: 2px solid rgba(255,255,255,0.1); box-shadow: 0 0 40px rgba(8,7,16,0.6);">
                </div>
                <div class="solutionI" style="display: flex; justify-content: center; position: relative; margin-top: 27px">
                    <img src="/img/solutionS.png" width="88%">
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<!--<footer th:fragment="footer">-->
<!--    <div th:replace="fragments/commonFooter :: footer"></div>-->
<!--</footer>-->
</html>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const toggleButton = document.querySelector('.navbar__toogleBtn');
        const menu = document.querySelector('.navbar__menu');

        toggleButton.addEventListener('click', function() {
            menu.classList.toggle('active');
        });
    });
</script>