<!--
파일이름 : solutionDev.html
작 성 자 : JBY
작 성 일 : 2023.11.30
설 명 : 더블루션 플랫폼 운영 설명 페이지
-->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!--  css  -->
<link rel="stylesheet" href="/admin-pro/dist/css/styles.css" th:href="@{/admin-pro/dist/css/styles.css}"/>
<!--  jquery  -->
<script type="text/javascript" src="/admin-pro/dist/js/jquery/jquery.min.js" th:src="@{/admin-pro/dist/js/jquery/jquery.min.js}"></script>
<script type="text/javascript" src="/admin-pro/dist/js/jquery/jquery-3.6.0.min.js" th:src="@{/admin-pro/dist/js/jquery/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" src="/admin-pro/dist/js/jquery/jquery-ui.min.js" th:src="@{/admin-pro/dist/js/jquery/jquery-ui.min.js}"></script>
<!-- lick-slider 반응형 웹을 지원하는 jQuery 슬라이더 라이브러리 -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<head>
    <title>The Blucean</title>
</head>
<style>
    body {
        color: black;
        background-color: white;
    }
    /*.scrolling-wrapper {*/
    /*    display: flex;*/
    /*    overflow: hidden;*/
    /*}*/
    /*.scrolling-wrapper .rolling-list ul {*/
    /*    display: flex;*/
    /*}*/
    /*.scrolling-wrapper .rolling-list ul li {*/
    /*    width: 589px;*/
    /*    height: 276px;*/
    /*    box-sizing: border-box;*/
    /*    border-radius: 20px;*/
    /*    margin: 0 16px;*/
    /*    padding: 46px 31px;*/
    /*    display: flex;*/
    /*    align-items: center;*/
    /*    flex-shrink: 0;*/
    /*}*/
    /*.scrolling-wrapper .rolling-list ul li .image-wrap {*/
    /*    padding-right: 32px;*/
    /*    width: 156px;*/
    /*    flex-shrink: 0;*/
    /*}*/
    /*.scrolling-wrapper .rolling-list ul li .image-wrap > img {*/
    /*    width: 100%;*/
    /*}*/
    /*.scrolling-wrapper .rolling-list ul li .desc {*/
    /*    font-family: 'BMJUA';*/
    /*}*/
    /*.scrolling-wrapper .rolling-list ul li .desc strong {*/
    /*    display: block;*/
    /*    font-size: 24px;*/
    /*    margin-bottom: 24px;*/
    /*}*/
    /*.scrolling-wrapper .rolling-list ul li .desc span {*/
    /*    font-size: 18px;*/
    /*    line-height: 1.2;*/
    /*}*/
    /*.rolling-list.original { !*일정시간 무한 반복*!*/
    /*    animation: rollingleft1 66s linear infinite;*/
    /*}*/
    /*.rolling-list.clone {*/
    /*    animation: rollingleft2 66s linear infinite;*/
    /*}*/
    /*!*애니메이션 제어*!*/
    /*@keyframes rollingleft1 {*/
    /*    0% { transform: translateX(0); }*/
    /*    50% { transform: translateX(-100%); }*/
    /*    50.01% { transform: translateX(100%); }*/
    /*    100% { transform: translateX(0); }*/
    /*}*/

    /*@keyframes rollingleft2 {*/
    /*    0% { transform: translateX(0); }*/
    /*    100% { transform: translateX(-200%); }*/
    /*}*/

    /*버튼 색상*/
    .slick-prev:before {
        color: black;
    }
    .slick-next:before {
        color: black;
    }

    .card {
        width: 150px; /* 원하는 너비로 설정 */
        height: 300px; /* 원하는 높이로 설정 */
        /* 다른 스타일들을 필요에 따라 추가할 수 있습니다 */
    }
</style>
<body>
<div th:replace="fragments/commonHead :: header"></div>
<main>
    <!-- 플랫폼운영 타이틀 및 버튼 -->
    <div class="wrap" style="padding: 180px 0 60px;">
        <div class="nContainer">
            <div class="textArea" style="text-align: center;">
                <h2 class="f-48" style="font-weight: 800">더블루션 플랫폼 운영</h2>
                <p>변화하는 디지털 환경에서 기업의 경쟁력 확보를 위해<br>최적의 IT 서비스를 제공합니다.</p>
            </div>
            <div class="buttonArea row" style="text-align: center">
                <div style="margin-top: 3%;">
                    <button class="btn btn-dark me-2 my-1 btn-xl" onclick="window.location.href='/solutionDev'">API 솔루션</button>
                    <button class="btn btn-dark me-2 my-1 btn-xl" onclick="window.location.href='/platformDev'">폴랫폼 개발</button>
                    <button class="btn me-2 my-1 btn-xl" onclick="window.location.href='/platformOps'" style="background-color: #2196f3; color: white;">폴랫폼 운영</button>
                </div>
            </div>
        </div>
    </div>

<!-- 버튼 클릭 slide 버전   -->
    <div class="nContainer">
        <div class="row">
            <div class="pricing-columns row justify-content-center" id="slider" style="visibility: hidden;">
                    <!-- 카드 1 -->
                    <div class="card">
                        <div class="card-header bg-transparent" style="display: flex; justify-content: center; align-items: center;">
                            <div class="pricing-columns-price">
                                <img src="/img/Biz/img_s1_05.png" alt="logo">
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush" style="display: flex; justify-content: center; align-items: center;">
                                <li class="list-group-item">
                                    KT 에어맵 플랫폼 운영1
                                    <br>2018년11월</br>
                                </li>
                            </ul>
                        </div>
                    </div>
                <!-- 카드 2 -->
                <div class="card">
                    <div class="card-header bg-transparent" style="display: flex; justify-content: center; align-items: center;">
                        <div class="pricing-columns-price">
                            <img src="/img/Biz/img_s1_05.png" alt="logo">
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" style="display: flex; justify-content: center; align-items: center;">
                            <li class="list-group-item">
                                KT 에너지 서비스 플랫폼 운영2
                                <br>2023년11월</br>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 카드 3 -->
                <div class="card">
                    <div class="card-header bg-transparent" style="display: flex; justify-content: center; align-items: center;">
                        <div class="pricing-columns-price">
                            <img src="/img/Biz/img_s1_11.png">
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" style="display: flex; justify-content: center; align-items: center;">
                            <li class="list-group-item">
                                KT API 플랫폼 운영3
                                <br>2023년10월</br>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 카드 4 -->
                <div class="card">
                    <div class="card-header bg-transparent" style="display: flex; justify-content: center; align-items: center;">
                        <div class="pricing-columns-price">
                            <img src="/img/Biz/img_s1_16.png">
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" style="display: flex; justify-content: center; align-items: center;">
                            <li class="list-group-item">
                                빅데이터 시스템 운영4
                                <br>2023년9월</br>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 카드 5 -->
                <div class="card">
                    <div class="card-header bg-transparent" style="display: flex; justify-content: center; align-items: center;">
                        <div class="pricing-columns-price">
                            <img src="/img/Biz/img_s1_07.png">
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" style="display: flex; justify-content: center; align-items: center;">
                            <li class="list-group-item">
                                KT OTT 플랫폼(시즌) 운영5
                                <br>2022년12월</br>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 카드 6 -->
                <div class="card">
                    <div class="card-header bg-transparent" style="display: flex; justify-content: center; align-items: center;">
                        <div class="pricing-columns-price">
                            <img src="/img/Biz/img_s1_01.png">
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" style="display: flex; justify-content: center; align-items: center;">
                            <li class="list-group-item">
                                신세계 I&C API 플랫폼 개발6
                                <br>2022년11월</br>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 카드 7 -->
                <div class="card">
                    <div class="card-header bg-transparent" style="display: flex; justify-content: center; align-items: center;">
                        <div class="pricing-columns-price">
                            <img src="/img/Biz/img_s1_01.png">
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" style="display: flex; justify-content: center; align-items: center;">
                            <li class="list-group-item">
                                신세계 I&C API 플랫폼 개발7
                                <br>2022년9월</br>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 카드 8 -->
                <div class="card">
                    <div class="card-header bg-transparent" style="display: flex; justify-content: center; align-items: center;">
                        <div class="pricing-columns-price">
                            <img src="/img/Biz/img_s1_01.png">
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" style="display: flex; justify-content: center; align-items: center;">
                            <li class="list-group-item">
                                신세계 I&C API 플랫폼 개발8
                                <br>2022년8월</br>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 카드 9 -->
                <div class="card">
                    <div class="card-header bg-transparent" style="display: flex; justify-content: center; align-items: center;">
                        <div class="pricing-columns-price">
                            <img src="/img/Biz/img_s1_01.png">
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" style="display: flex; justify-content: center; align-items: center;">
                            <li class="list-group-item">
                                신세계 I&C API 플랫폼 개발9
                                <br>2022년7월</br>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 카드 10 -->
                <div class="card">
                    <div class="card-header bg-transparent" style="display: flex; justify-content: center; align-items: center;">
                        <div class="pricing-columns-price">
                            <img src="/img/Biz/img_s1_01.png">
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" style="display: flex; justify-content: center; align-items: center;">
                            <li class="list-group-item">
                                신세계 I&C API 플랫폼 개발10
                                <br>2022년2월</br>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 카드 11 -->
                <div class="card">
                    <div class="card-header bg-transparent" style="display: flex; justify-content: center; align-items: center;">
                        <div class="pricing-columns-price">
                            <img src="/img/Biz/img_s1_01.png">
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" style="display: flex; justify-content: center; align-items: center;">
                            <li class="list-group-item">
                                신세계 I&C API 플랫폼 개발11
                                <br>2022년1월</br>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 카드 12 -->
                <div class="card">
                    <div class="card-header bg-transparent" style="display: flex; justify-content: center; align-items: center;">
                        <div class="pricing-columns-price">
                            <img src="/img/Biz/img_s1_01.png">
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" style="display: flex; justify-content: center; align-items: center;">
                            <li class="list-group-item">
                                신세계 I&C API 플랫폼 개발
                                <br>2021년12월</br>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 카드 12 -->
                <div class="card">
                    <div class="card-header bg-transparent" style="display: flex; justify-content: center; align-items: center;">
                        <div class="pricing-columns-price">
                            <img src="/img/Biz/img_s1_01.png">
                        </div>
                    </div>
                    <div class="card-body">
                        <ul class="list-group list-group-flush" style="display: flex; justify-content: center; align-items: center;">
                            <li class="list-group-item">
                                신세계 I&C API 플랫폼 개발
                                <br>2023년12월</br>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttonArea row" style="text-align: center">
            <div style="margin-top: 3%;">
                <button class="btn bg-light me-2 my-1 btn-sm" onclick="descSort()">최신순</button>
                <button class="btn bg-light me-2 my-1 btn-sm" onclick="asceSort()">과거순</button>
            </div>
        </div>
    </div>
</main>
<footer th:fragment="footer" style="margin-top: 100px;">
    <div th:replace="fragments/commonFooter :: footer"></div>
</footer>
</body>
</html>
<script type="text/javascript">
    function countCards() {
        const cardContainer = document.getElementById('slider');
        const cards = cardContainer.getElementsByClassName('card');
        const cardCount = cards.length;

        return cardCount;
    }

    const numberOfCards = countCards();
    console.log('총 카드 수 : ', numberOfCards);


/*===카드 날짜(최신순 과거순) ============================================================================================================*/

    // 모든 카드 요소를 선택
    const cardsContainer = document.querySelector('.pricing-columns');
    const cards = Array.from(cardsContainer.querySelectorAll('.card'));

    // 각 카드 날짜 정보 추출 후 배열에 저장
    const cardDates = cards.map((card, index) => {
        const dateElement = card.querySelector('li.list-group-item');
        const dates = dateElement.innerHTML.split('<br>');
        const dateInfo = dates[1].trim();
        console.log(`카드 ${index + 1}의 날짜: ${dateInfo}`);
        return { dateInfo, card };
    });

    // 날짜 기준 내림차순 정렬
    // cardDates.sort((a, b) => {
    //     // '년월' 형식의 문자열로부터 날짜를 추출하여 비교
    //     const dateA = new Date(a.dateInfo.replace('년', '-').replace('월', '-'));
    //     const dateB = new Date(b.dateInfo.replace('년', '-').replace('월', '-'));
    //
    //     return dateB - dateA; // 내림차순 정렬
    // });

    // 날짜 기준 오름차순 정렬
    // cardDates.sort((a, b) => {
    //     // '년월' 형식의 문자열로부터 날짜를 추출하여 비교
    //     const dateA = new Date(a.dateInfo.replace('년', '-').replace('월', '-'));
    //     const dateB = new Date(b.dateInfo.replace('년', '-').replace('월', '-'));
    //
    //     return dateA - dateB; // 오름차순 정렬
    // });

    console.log("정렬된 카드 배열" + cardDates);

    // 기존 카드를 제거하고, 정렬된 순서대로 새로운 순서로 추가합니다.
    // cards.forEach(card => card.remove()); // 기존 카드 모두 제거
    // // 정렬된 순서대로 DOM 요소를 다시 배치합니다.
    // cardDates.forEach((item) => {
    //     cardsContainer.appendChild(item.card);
    // });

/*=== Slick 옵션 =============================================================================================================*/

    $(document).ready(function(){
        let slidesToShowValue = 4; // 기본 값은 4로 설정

        if (numberOfCards % 4 === 0) {
            slidesToShowValue = 4;
        } else if (numberOfCards % 3 === 0) {
            slidesToShowValue = 3;
        }

        $('#slider').slick({
            slidesToShow: slidesToShowValue, // 한 번에 보여질 슬라이드의 수
            slidesToScroll: slidesToShowValue, // 한 번에 스크롤 될 슬라이드의 수
            autoplay: true, // 자동 재생 기능을 활성화
            autoplaySpeed: 2000, // 자동 재생 속도
            prevArrow: "<button type='button' class='slick-prev'>이전</button>",
            nextArrow: "<button type='button' class='slick-next'>다음</button>",
        });
    });

    // 슬라이드가 완성된 후 보이도록 변경
    $('#slider').on('init', function() {
        $(this).css({ visibility: 'visible', opacity: 1 });
    });

    /// 최신순
    function descSort() {
        $('#slider').slick('unslick');

        cardDates.sort((a, b) => {
            // '년월' 형식의 문자열로부터 날짜를 추출하여 비교
            const dateA = new Date(a.dateInfo.replace('년', '-').replace('월', '-'));
            const dateB = new Date(b.dateInfo.replace('년', '-').replace('월', '-'));

            return dateB - dateA; // 내림차순 정렬
        });
        rearrangeCards();
    }

    /// 과거순
    function asceSort() {
        $('#slider').slick('unslick');

        cardDates.sort((a, b) => {
            // '년월' 형식의 문자열로부터 날짜를 추출하여 비교
            const dateA = new Date(a.dateInfo.replace('년', '-').replace('월', '-'));
            const dateB = new Date(b.dateInfo.replace('년', '-').replace('월', '-'));

            return dateA - dateB; // 오름차순 정렬
        });
        rearrangeCards();
    }

    // 카드 재배치 함수
    function rearrangeCards() {
        // 기존 카드를 제거하고, 정렬된 순서대로 새로운 순서로 추가합니다.
        cards.forEach(card => card.remove()); // 기존 카드 모두 제거

        // 정렬된 순서대로 DOM 요소를 다시 배치합니다.
        cardDates.forEach((item) => {
            cardsContainer.appendChild(item.card);
        });

        $('#slider').slick({
            slidesToShow: 4, // 한 번에 보여질 슬라이드의 수
            slidesToScroll: 1, // 한 번에 스크롤 될 슬라이드의 수
            autoplay: true, // 자동 재생 기능을 활성화
            autoplaySpeed: 2000, // 자동 재생 속도
            prevArrow: "<button type='button' class='slick-prev'>이전</button>",
            nextArrow: "<button type='button' class='slick-next'>다음</button>", }); // 슬라이드 다시 초기화
    }
</script>
