<!--
파일이름 : solutionDev.html
작 성 자 : JBY
작 성 일 : 2023.11.30
설 명 : 더블루션 솔루션 설명 페이지
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/defaultLayout}" layout:fragment="content">
<script type="text/javascript" th:src="@{/js/solutionDev.js}"></script>

<body>
<main>
    <div id="layoutDefault">
        <div id="layoutDefault_content">
            <!-- Page Header-->
            <header class="page-header-ui page-header-ui-light bg-white text-center">
                <div class="page-header-ui-content pt-5">
                    <div class="container px-5">
                        <div class="row gx-5 align-items-center">
                            <div class="col-lg-6 mx-auto" data-aos="fade-up">
                                <h1 class="page-header-ui-title">더블루션 API 솔루션</h1>
                                <p class="page-header-ui-text mb-5">통합 시뮬레이터 및 테스트 포털 구축 API입니다.<br>&nbsp</p>
                                <!--                                <h1 class="prototype">더블루션 API 솔루션</h1>-->
                            </div>
                            <div class="buttonArea row" data-aos="fade-up" data-aos-delay="150">
                                <div>
                                    <button class="btn me-2 my-1 btn-xl" onclick="window.location.href='/solutionDev'" style="background-color: #2196f3; color: white;">API 솔루션</button>
                                    <button class="btn btn-dark me-2 my-1 btn-xl" onclick="window.location.href='/platformDev'">폴랫폼 개발</button>
                                    <button class="btn btn-dark me-2 my-1 btn-xl" onclick="window.location.href='/platformOps'">폴랫폼 운영</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 스크롤 다운 모션 -->
                <div class="solution_scrollDowns" data-aos="fade-up" data-aos-delay="300">
                    <div class="solution_mouse">
                        <div class="scroller"></div>
                    </div>
                </div>
            </header>

            <section class="bg-white py-10">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center justify-content-center" data-aos="fade-up" data-aos-delay="300">
                        <div class="col-md-9 col-lg-6 order-1 order-lg-0 aos-init aos-animate"  data-aos="fade-up">
                            <div class="content-skewed content-skewed-right"><img class="content-skewed-item img-fluid shadow-lg rounded-3" src="https://assets.startbootstrap.com/img/screenshots-product-pages/sb-ui-kit-pro/landing-portfolio.png" alt="..."></div>
                        </div>
                        <div class="col-lg-6 order-0 order-lg-1 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade-up">
                            <div class="mb-5">
                                <h2>솔루션 임시 이미지입니다.</h2>
                                <p class="lead">When you purchase this UI Kit, you get access to a robust suite of powerful tools and components to help you build your next landing page quickly and easily.</p>
                            </div>
                            <div class="row gx-5">
                                <div class="col-md-6 mb-4">
                                    <h6>Landing Pages</h6>
                                    <p class="mb-2 small">We've crafted landing page examples for many popular business and product types.</p>
                                    <a class="small text-arrow-icon" href="#!">
                                        Learn More
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    </a>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <h6>Page Examples</h6>
                                    <p class="mb-2 small mb-0">Use our pre-built page examples to quickly create inner pages to your website.</p>
                                    <a class="small text-arrow-icon" href="#!">
                                        Learn More
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    </a>
                                </div>
                            </div>
                            <div class="row gx-5">
                                <div class="col-md-6 mb-4">
                                    <h6>Layouts</h6>
                                    <p class="mb-2 small mb-0">Our flex box based layout options make your site beautifully responsive and adaptable to any device.</p>
                                    <a class="small text-arrow-icon" href="#!">
                                        Learn More
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    </a>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <h6>Modular Sections</h6>
                                    <p class="small mb-0">All of the sections on each page are modular, so you can drop them into an existing page, or start with a new one!</p>
                                    <a class="small text-arrow-icon" href="#!">
                                        Learn More
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="bg-white py-10">
                <div class="container px-5" data-aos="fade-up" data-aos-delay="100">
                    <div class="card-body d-flex justify-content-center align-items-center flex-column" style="margin-top: 5%;">
                        <div class="d-flex align-items-center justify-content-center flex-column">
                            <div class="titleBadge m-1">
                                API 솔루션
                            </div>
                            <h4 class="f-32 mb-3">
                                FAQ
                            </h4>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header d-flex align-items-center" onclick="toggleAccordion(this)" style="cursor: pointer;">
                            <div class="w-100 d-flex justify-content-between align-items-center">
                                <h2 class="my-3">Q. 웹사이트 접속자가 많아지면 느려지거나, 서버가 다운되는 일이 생기진 않겠죠?</h2>
                                <div style="display: flex; align-items: center;">
                                    <span class="solution-span">▼</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body accordion-body" style="display: none;">
                            <p class="lead">A. Here's an example of what an article in your knowledge base will look like.</p>
                            <p class="lead">You can use the paragraph element along with other typography elements and text tools to create articles within your knowledge base. This is a great way to display support information to your users.</p>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header d-flex align-items-center" onclick="toggleAccordion(this)" style="cursor: pointer;">
                            <div class="w-100 d-flex justify-content-between align-items-center">
                                <h2 class="my-3">Q. 제작이 완료된 후 에 수정을 하고 싶은데, 어떻게 해야 하나요?</h2>
                                <div style="display: flex; align-items: center;">
                                    <span class="solution-span" style="vertical-align: middle;">▼</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body accordion-body" style="display: none;">
                            <p class="lead">A. Here's an example of what an article in your knowledge base will look like.</p>
                            <p class="lead">You can use the paragraph element along with other typography elements and text tools to create articles within your knowledge base. This is a great way to display support information to your users.</p>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-header d-flex align-items-center" onclick="toggleAccordion(this)" style="cursor: pointer;">
                            <div class="w-100 d-flex justify-content-between align-items-center">
                                <h2 class="my-3">Q. 웹사이트 제작 후 버그가 발생하면 어떻게 하나요?</h2>
                                <div style="display: flex; align-items: center;">
                                    <span class="solution-span">▼</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body accordion-body" style="display: none;">
                            <p class="lead">A. Here's an example of what an article in your knowledge base will look like.</p>
                            <p class="lead">You can use the paragraph element along with other typography elements and text tools to create articles within your knowledge base. This is a great way to display support information to your users.</p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="bg-white py-10">
                <div data-aos="fade-up" data-aos-delay="150">
                    <div class="card-body d-flex justify-content-center align-items-center flex-column">
                        <div class="d-flex align-items-center justify-content-center flex-column">
                            <div class="titleBadge m-1">
                                시작부터 성공까지
                            </div>
                            <h4 class="f-32">
                                더블루션과 함께
                            </h4>
                        </div>
                    </div>
                    <!-- 슬릭 슬라이더 -->
                    <div class="container px-5" style="margin-bottom: 10%">
                        <div class="pricing-columns row justify-content-center">
                            <div class="image-container" id="slider" style="visibility: hidden;"></div>
                        </div>
                    </div>
                </div>
                <a href="#layoutDefault_content">
                    <div class="scrollTop">
                        <img src="/img/arrow-top.png" style="width: 50%; vertical-align: top; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
                    </div>
                </a>
                <div class="svg-border-waves text-dark">
                    <!-- Wave SVG Border-->
                    <svg class="wave" style="pointer-events: none" fill="currentColor" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 75">
                        <defs>
                            <style>
                                .a {
                                    fill: none;
                                }
                                .b {
                                    clip-path: url(#a);
                                }
                                .d {
                                    opacity: 0.5;
                                    isolation: isolate;
                                }
                            </style>
                        </defs>
                        <clippath id="a"><rect class="a" width="1920" height="75"></rect></clippath>
                        <g class="b"><path class="c" d="M1963,327H-105V65A2647.49,2647.49,0,0,1,431,19c217.7,3.5,239.6,30.8,470,36,297.3,6.7,367.5-36.2,642-28a2511.41,2511.41,0,0,1,420,48"></path></g>
                        <g class="b"><path class="d" d="M-127,404H1963V44c-140.1-28-343.3-46.7-566,22-75.5,23.3-118.5,45.9-162,64-48.6,20.2-404.7,128-784,0C355.2,97.7,341.6,78.3,235,50,86.6,10.6-41.8,6.9-127,10"></path></g>
                        <g class="b"><path class="d" d="M1979,462-155,446V106C251.8,20.2,576.6,15.9,805,30c167.4,10.3,322.3,32.9,680,56,207,13.4,378,20.3,494,24"></path></g>
                        <g class="b"><path class="d" d="M1998,484H-243V100c445.8,26.8,794.2-4.1,1035-39,141-20.4,231.1-40.1,378-45,349.6-11.6,636.7,73.8,828,150"></path></g>
                    </svg>
                </div>

            </section>
        </div>
    </div>
</main>
</body>
</html>