<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/admin-pro/dist/css/styles.css" th:href="@{/admin-pro/dist/css/styles.css}"/>
<!--<link rel="stylesheet" href="/admin-pro/dist/css/styles.css" th:href="@{/ui-pro/dist/css/styles.css}"/>-->
<!--  jquery  -->
<script type="text/javascript" src="/admin-pro/dist/js/jquery/jquery.min.js" th:src="@{/admin-pro/dist/js/jquery/jquery.min.js}"></script>
<script type="text/javascript" src="/admin-pro/dist/js/jquery/jquery-3.6.0.min.js" th:src="@{/admin-pro/dist/js/jquery/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" src="/admin-pro/dist/js/jquery/jquery-ui.min.js" th:src="@{/admin-pro/dist/js/jquery/jquery-ui.min.js}"></script>

<!--<script src="https://kit.fontawesome.com/8f2a2932a6.js" crossorigin="anonymous"></script>-->
<!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>-->
<!--<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"/>-->
<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>-->
<head>

    <title>The Blucean</title>
</head>
<style>
    body {
        color: black;
        background-color: white;
    }


    #button-container > div {
        /*margin-top: 50px;*/
        display: inline-block; /* 요소들을 가로로 나열 */
        white-space: normal; /* 요소 내부의 공백 처리 */
        vertical-align: top; /* 요소 정렬 */
    }


    /* 초기에는 아코디언 요소를 숨겨두기 */
    .accordion-content {
        flex: 1 1 auto;
        padding: 1.5rem 2.5rem;
        display: none;
    }
    /* 보여줘야 할 때 클래스로 보이도록 변경 */
    .show {
        display: block;
    }

    .image-container {
        margin-top: 5%;
        margin-bottom: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    #logoDefault,
    #logoBlack {
        opacity: 0; /* 초기에는 투명도를 0으로 설정하여 숨김 */
        position: absolute; /* 위치 조정을 위해 절대 위치 지정 */
        transition: opacity 1.5s ease-in-out; /* 페이드인 지속 시간을 늘림 */
    }

    #logoDefault {
        opacity: 1; /* 초기에 logoDefault 이미지를 보이도록 설정 */
    }

    #logoBlack {
        z-index: 1; /* logoBlack을 위로 올려서 보이도록 설정 */
    }

    /*.card {*/
    /*    cursor: pointer;*/
    /*}*/
</style>
<body>
<!--        <div id="layoutSidenav">-->
<div th:replace="fragments/commonHead :: header"></div>
<main>
    <div class="wrap" style="padding: 180px 0 60px;">
        <div class="nContainer">
            <div class="textArea" style="text-align: center;">
                <h2 class="f-48" style="font-weight: 800">더블루션 API솔루션</h2>
                <p>통합 시뮬레이터 및 테스트 포털 구축 API입니다.</p>
            </div>
            <div class="buttonArea row" style="text-align: center">
                <div class="" style="margin-top: 3%;">
                    <button class="btn btn-dark me-2 my-1 btn-xl"><a href="/solutionDev">API 솔루션</a></button>
                    <button class="btn btn-dark me-2 my-1 btn-xl"><a href="/platformDev">폴랫폼 개발</a></button>
                    <button class="btn btn-dark me-2 my-1 btn-xl"><a href="">폴랫폼 운영</a></button>
                </div>
            </div>
        </div>
    </div>

    <!-- Main page content-->
    <div class="nContainer">
        <div class="card card-waves mb-4 mt-0">
            <div class="card card-waves mb-4 mt-5">
                <div class="card-body p-5">
                    <div class="row align-items-center justify-content-between">
                        <div class="col">
                            <h2 class="text-primary">솔루션 관련 임의로 넣어놓은 이미지입니다.</h2>
                            <p class="text-gray-700">Great job, your affiliate dashboard is ready to go! You can view sales, generate links, prepare coupons, and download affiliate reports using this dashboard.</p>
                            <a class="btn btn-primary p-3" href="#!">
                                Get Started
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right ms-1"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>
                            </a>
                        </div>
                        <div class="col d-none d-lg-block mt-xxl-n4"><img class="img-fluid px-xl-4 mt-xxl-n5" src="/img/Biz/statistics.svg"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- faq 클릭버전 -->
    <div class="card-body d-flex justify-content-center align-items-center flex-column" style="margin-top: 150px;">
        <div class="d-flex align-items-center justify-content-between">
            <div class="me-3">
                <!-- todo.어울리는 이미지로 대체예정 -->
                <!--                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-package feather-xl text-primary mb-3"><line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>-->
                <div class="text-center">
                    <!--                                                            <img src="/img/Biz/icons8-q&a-64.png">-->
                </div>
                <h1 class="text-center" style="color: black">
                    API SOLUTION FAQ (영역근처 Version)
                </h1>
            </div>
        </div>
    </div>
    <div class="nContainer">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center" onclick="toggleAccordion(this)">
                <div class="w-100 d-flex justify-content-between align-items-center">
                    <h2 class="my-3">Q. 웹사이트 접속자가 많아지면 느려지거나, 서버가 다운되는 일이 생기진 않겠죠?</h2>
                    <div style="display: flex; align-items: center;">
                        <!--                            <span style="vertical-align: middle;">▼</span>-->
                    </div>
                </div>
            </div>
            <div class="card-body accordion-body" style="display: none;">
                <p class="lead">A. Here's an example of what an article in your knowledge base will look like.</p>
                <p class="lead">You can use the paragraph element along with other typography elements and text tools to create articles within your knowledge base. This is a great way to display support information to your users.</p>
            </div>
        </div>
    </div>
    <div class="nContainer">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center" onclick="toggleAccordion(this)">
                <div class="w-100 d-flex justify-content-between align-items-center">
                    <h2 class="my-3">Q. 제작이 완료된 후 에 수정을 하고 싶은데, 어떻게 해야 하나요?</h2>
                    <div style="display: flex; align-items: center;">
                        <!--                            <span style="vertical-align: middle;">▼</span>-->
                    </div>
                </div>
            </div>
            <div class="card-body accordion-body" style="display: none;">
                <p class="lead">A. Here's an example of what an article in your knowledge base will look like.</p>
                <p class="lead">You can use the paragraph element along with other typography elements and text tools to create articles within your knowledge base. This is a great way to display support information to your users.</p>
            </div>
        </div>
    </div>
    <div class="nContainer">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center" onclick="toggleAccordion(this)">
                <div class="w-100 d-flex justify-content-between align-items-center">
                    <h2 class="my-3">Q. 웹사이트 제작 후 버그가 발생하면 어떻게 하나요?</h2>
                    <div style="display: flex; align-items: center;">
                        <!--                            <span style="vertical-align: middle;">▼</span>-->
                    </div>
                </div>
            </div>
            <div class="card-body accordion-body" style="display: none;">
                <p class="lead">A. Here's an example of what an article in your knowledge base will look like.</p>
                <p class="lead">You can use the paragraph element along with other typography elements and text tools to create articles within your knowledge base. This is a great way to display support information to your users.</p>
            </div>
        </div>
    </div>

    <!-- faq 스크롤 버젼 -->
    <div class="nContainer" style="margin-top: 5%;">
        <div class="d-flex align-items-center justify-content-between">
            <div class="me-3">
                <!-- todo.어울리는 이미지로 대체예정 -->
                <!--                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-package feather-xl text-primary mb-3"><line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>-->
                <div class="text-center">
                    <!--                                                            <img src="/img/Biz/icons8-q&a-64.png">-->
                </div>
                <h1 class="text-center" style="color: black">
                    API SOLUTION FAQ
                </h1>
            </div>
        </div>
    </div>

    <div class="nContainer">
        <div class="card mb-4">
            <div class="card-header d-flex align-items-center">
                <div class="w-100 d-flex justify-content-between align-items-center">
                    <h2 class="my-3">Q. 웹사이트 접속자가 많아지면 느려지거나, 서버가 다운되는 일이 생기진 않겠죠?</h2>
                    <div style="display: flex; align-items: center;">
                        <!--                            <span style="vertical-align: middle;">▼</span>-->
                    </div>
                </div>
            </div>
            <div class="card-body" id="accordionBody" style="display: none;">
                <p class="lead">A. Here's an example of what an article in your knowledge base will look like.</p>
                <p class="lead">You can use the paragraph element along with other typography elements and text tools to create articles within your knowledge base. This is a great way to display support information to your users.</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header d-flex align-items-center">
                <div class="w-100 d-flex justify-content-between align-items-center">
                    <h2 class="my-3">Q. 제작이 완료된 후 에 수정을 하고 싶은데, 어떻게 해야 하나요?</h2>
                    <div style="display: flex; align-items: center;">
                        <!--                            <span style="vertical-align: middle;">▼</span>-->
                    </div>
                </div>
            </div>
            <div class="accordion-content" id="accordionBody2" style="display: none;">
                <p class="lead">A. Here's an example of what an article in your knowledge base will look like.</p>
                <p class="lead">You can use the paragraph element along with other typography elements and text tools to create articles within your knowledge base. This is a great way to display support information to your users.</p>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header d-flex align-items-center">
                <div class="w-100 d-flex justify-content-between align-items-center">
                    <h2 class="my-3">Q. 웹사이트 제작 후 버그가 발생하면 어떻게 하나요?</h2>
                    <div style="display: flex; align-items: center;">
                        <!--                            <span style="vertical-align: middle;">▼</span>-->
                    </div>
                </div>
            </div>
            <div class="accordion-content" id="accordionBody3" style="display: none;">
                <p class="lead">A. Here's an example of what an article in your knowledge base will look like.</p>
                <p class="lead">You can use the paragraph element along with other typography elements and text tools to create articles within your knowledge base. This is a great way to display support information to your users.</p>
            </div>
        </div>
    </div>

    <!-- faq part 끝 -->
    <div class="card-body d-flex justify-content-center align-items-center flex-column" style="margin-top: 5%;">
        <div class="d-flex align-items-center justify-content-center flex-column">
            <div class="titleBadge m-1">
                시작부터 성공까지
            </div>
            <h4 class="f-32 mb-3">
                더블루션과 함께
            </h4>
        </div>
    </div>
    <div class="image-container">
        <img id="logoDefault" src="/img/Biz/kbank.png" alt="logo">
        <img id="logoBlack" src="/img/Biz/kbankBlack.png" alt="logo">
    </div>
</main>
<footer th:fragment="footer">
    <div th:replace="fragments/commonFooter :: footer"></div>
</footer>
</body>
</html>
<script>
    // 화면 줄였을때 메뉴바
    // document.addEventListener('DOMContentLoaded', function() {
    //     const toggleButton = document.querySelector('.navbar__toogleBtn');
    //     const menu = document.querySelector('.navbar__menu');
    //
    //     toggleButton.addEventListener('click', function() {
    //         menu.classList.toggle('active');
    //     });
    // });

    // FAQ 아코디언 클릭하는 버전
    // function toggleAccordion(clickedElement) {
    //     const accordionBody = clickedElement.nextElementSibling;
    //     const icon = clickedElement.querySelector('span');
    //     const isClosing = accordionBody.style.display === 'block';
    //
    //     // 클릭한 아코디언이 열려있는 경우 닫기
    //     if (isClosing) {
    //         accordionBody.style.display = 'none';
    //         icon.textContent = '▼'; // 닫혔을 때 아이콘 변경
    //     } else {
    //         // 클릭한 아코디언만 열기
    //         accordionBody.style.display = 'block';
    //         icon.textContent = '◀'; // 열렸을 때 아이콘 변경
    //     }
    // }

    // 아코디언을 열기 위한 함수
    function openAccordion(event) {
        // 해당 이벤트의 타겟 요소 (본문) 가져오기
        var body = event.target.closest(".card").querySelector(".accordion-body");

        // 모든 아코디언 본문을 닫기
        var allAccordionBodies = document.querySelectorAll(".accordion-body");
        allAccordionBodies.forEach(function(accBody) {
            accBody.style.display = "none";
        });

        // 선택한 아코디언 본문만 열기
        body.style.display = "block";
    }

    // HTML 문서 로드 후 실행되는 함수
    document.addEventListener("DOMContentLoaded", function() {
        // 모든 아코디언 카드(질문 부분)에 대해 이벤트를 추가합니다.
        var accordionCards = document.querySelectorAll(".card-header");

        accordionCards.forEach(function(card) {
            // 각각의 아코디언 카드에 마우스 진입 이벤트를 추가합니다.
            card.addEventListener("mouseenter", function(event) {
                openAccordion(event);
            });

            // 각각의 아코디언 카드에 마우스 이탈 이벤트를 추가합니다.
            card.addEventListener("mouseleave", function(event) {
                var body = event.target.closest(".card").querySelector(".accordion-body");
                body.style.display = "none";
            });
        });
    });

    // FAQ 아코디언 스크롤 이벤트 리스너 추가
    window.addEventListener('scroll', function() {
        const currentScroll = window.scrollY || window.pageYOffset;
        const scrollPercentage = currentScroll / (document.documentElement.scrollHeight - window.innerHeight);

        // const showThreshold = 0.1; // 보여줄 위치의 임계값

        // 첫 번째 요소
        const accordionBody = document.getElementById('accordionBody');
        if (scrollPercentage >= 0.6 && scrollPercentage < 0.7) {
            toggleAccordion(accordionBody);
        }

        // 두 번째 요소
        const accordionBody2 = document.getElementById('accordionBody2');
        if (scrollPercentage >= 0.7 && scrollPercentage < 0.8) {
            toggleAccordion(accordionBody2);
        }

        // 세 번째 요소
        const accordionBody3 = document.getElementById('accordionBody3');
        if (scrollPercentage >= 0.8 && scrollPercentage < 1.0) {
            toggleAccordion(accordionBody3);
        }
    });

    function toggleAccordion(element) {
        const accordions = document.querySelectorAll('.accordion-content');
        accordions.forEach(acc => acc.style.display = 'none'); // 모든 아코디언 요소를 숨김

        element.style.display = 'block'; // 특정 아코디언 요소만 보이도록 변경
    }

    //로고 show hide
    const logoDefault = document.getElementById('logoDefault');
    const logoBlack = document.getElementById('logoBlack');

    let showLogoDefault = true;

    setInterval(function () {
        if (showLogoDefault) {
            logoDefault.style.opacity = '1'; // 페이드인되도록 투명도를 1로 변경
            logoBlack.style.opacity = '0'; // 다른 이미지는 투명도를 0으로 설정하여 숨김
        } else {
            logoDefault.style.opacity = '0';
            logoBlack.style.opacity = '1';
        }
        showLogoDefault = !showLogoDefault; // 이미지를 반대로 전환
    }, 2000); // 3초마다 이미지 전환

</script>