<header>
    <div class="headerBackground">
        <div class="headerWrap">
            <a href="/main" class="headerLogo">
                <img src="/img/logo.svg" alt="logo" width="140px">
            </a>
            <div class="nContainer">
                <ul class="headerList">
                    <li><a href="">API솔루션 소개</a></li>
                    <li><a href="">문의하기</a></li>
                    <li><a href="/solutionDev">사업 분야</a></li>
                </ul>
            </div>
            <div class="headerRight">
                <div class="headerBtnWrap">
                    <button class="hearderBtn btn btn-dark">신청현황조회</button>
                </div>
                <div class="">
                    <button class="hearderBtn btn btn-dark">결제내역조회</button>
                </div>
            </div>
        </div>
    </div>
</header>

