<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footer" class="footer-admin mt-auto footer-dark">
  <div class="container-xl px-4 h-100">
    <div class="row">
      <div class="col-md-6">Copyright &copy; The Blucean 2024</div>
      <div class="col-md-6 text-md-end">
        <a href="javascript:;">(주)더블루션</a><br>
        &middot;
        <a href="javascript:;">TEL 070-4213-1470</a><br>
        &middot;
        <a href="javascript:;">FAX 02-573-1470</a><br>
        &middot;
        <a href="javascript:;">제휴 및 문의 contact@blucean.net</a><br>
        &middot;
        <a href="javascript:;">주소 서울시 영등포구 양평동 5가 18 우림라이온스밸리 B동 311호</a>
      </div>
    </div>
  </div>
</footer>
</html>
