<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="header">
<nav class="navbar navbar-marketing navbar-expand-lg bg-transparent navbar-light fixed-top">
    <div class="container px-5">
        <a class="navbar-brand text-primary" href="/main/#mainSection1">
<!--            <img src="/img/logo.svg" alt="더블루션 로고" width="140px">-->
            THEBLUECEAN
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto me-lg-5">
                <li class="nav-item"><a class="nav-link" href="main/#mainSection1">Home</a></li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        API솔루션 소개
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        문의하기
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/solutionDev">
                        사업 분야
                    </a>
                </li>
            </ul>
<!--            <a class="btn fw-500 ms-lg-4 btn-primary" href="https://shop.startbootstrap.com/sb-ui-kit-pro">-->
<!--                Buy Now-->
<!--                <i class="ms-2" data-feather="arrow-right"></i>-->
<!--            </a>-->
        </div>
    </div>
</nav>
</html>